<div class="d-flex py-4 justify-content-center align-items-center">
  <div>
    <% Post.includes(:user).order(created_at: :desc).each do |post| %>
      <div class="mb-4 post-container">
        <p class="mb-1 fw-bold" style="font-size: 13px;"><%= post.user.username %></p>
        <%= image_tag post.photo.variant(resize_to_limit: Post::RESIZE_DIMENSIONS,
        crop: [post.x_offset.to_f, post.y_offset.to_f, post.width.to_f, post.height.to_f]), 
        data: { controller:"photo-filter", filter: post.filter_name }, 
        class: "mb-5", style: "width:400px" %>
        <p class="mb-1" style="font-size: 13px;"><span class="fw-bold"><%= post.user.username %></span> <%= post.description %> </p>
        <p class="mb-1" style="font-size: 12px; color: #999;"><%= post.created_at.strftime("%B %d, %Y %I:%M %p") %></p>
      </div>
      <hr>
    <% end %>
  </div>
</div>
