<div class="d-flex py-4 justify-content-center align-items-center">
  <div>
    <% Post.includes(:user).order(created_at: :desc).each do |post| %>
      <div class="mb-4 post-container">
        <p class="mb-1 fw-bold" style="font-size: 13px;"><%= post.user.username %></p>
        <%= image_tag post.photo.variant(resize_to_limit: Post::RESIZE_DIMENSIONS,
        crop: [post.x_offset.to_f, post.y_offset.to_f, post.width.to_f, post.height.to_f]), 
        data: { controller:"photo-filter", filter: post.filter_name }, 
        class: "mb-5", style: "width:400px" %>
        <% if post.likes.find_by(user_id: current_user.id) %>
          <%= button_to 'Unlike', post_likes_path(post), method: :post, class: "btn btn-primary insta-primary" %>
        <% else %>
          <%= button_to 'Like', post_likes_path(post), method: :post, class: "btn btn-primary insta-primary" %>
        <% end %>
        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <b>Comments</b>
        <br>
        <div id="comments-<%= post.id %>">
          <%- post.comments.each do |comment|%>
            <%= render comment %>
          <% end %>
        </div>
         <%= render "comments/form", comment: post.comments.build%>
        <p class="mb-1" style="font-size: 13px;"><span class="fw-bold"><%= post.user.username %></span> <%= post.description %> </p>
        <p class="mb-1" style="font-size: 12px; color: #999;"><%= post.created_at.strftime("%B %d, %Y %I:%M %p") %></p>
      </div>
      <hr>
    <% end %>
  </div>
</div>
